<!-- Formulario para mostrar detalles del cliente -->
<form>
    <label for="nombre">NOMBRES:</label>
    <input placeholder="Ingrese el nombre" type="text" id="nombre" name="nombre" value="" readonly><br>

    <label for="apellido">APELLIDOS:</label>
    <input placeholder="Ingrese el apellido" type="text" id="apellido" name="apellido" value="" readonly><br>

    <label for="cedula">CORREO:</label>
    <input type="text" id="cedula" placeholder="Ingrese el número de cédula"  name="cedula" value="" readonly><br>

    <!-- Agrega más campos de entrada aquí para otros detalles del cliente -->

 